hr {
  height: 5px;
  background-color: white;
  opacity: 1;
}

.container {
  padding-top: 12%;
  padding-bottom: 12%;
}

body {
  background-color: #0e1414;
}

p {
  color: #babcbc;
}

.container#blur.active {
  filter: blur(20px);
}

#popup1 {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup2 {
  position: fixed;
  top: 40%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup3 {
  position: fixed;
  top: 40%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup1.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#popup2.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

#popup3.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
